/* TopBar */
/* right text */
.topBarText {
  font-size: 22px;
}

/* signup Page */
.signup-logo {
  margin: auto;
  width: 90em;
  height: 112px;
  max-width: 316px;
  animation: animated 0.7s ;
  background: url(../assets/signup-logo.png) no-repeat ;
}

.app-icon-login {

  animation: animated 0.7s !important;
  margin-top: 80px !important;
  left: 175px;
  
  background: url(../assets/Untitled-2.png) no-repeat !important;
}

/* InputProfileCard */
.invalid-feedback-forprofileCard {
  font-size: 80%;
  color: #dc3545;
}




/* Pull down error of InputForLoginAndSignUp component */
.InputForLoginAndSignUp{
  position: absolute;
  
  margin-top: 27px !important;
}

element.style {
  padding-left: 0px !important;
}












/* Components */
.ButtonWithProgress {
  /* line-height: 1.3em !important; */
  
}

/* Exclamation mark of User not found! */
.icon-exclamation {
  color: #F7A600;
  text-shadow: 0 0 3px #000;
}

/* Exclamation mark of User not found! */
.icon-exclamation-login-error {
  margin-top: 3px;
  color: rgb(209, 0, 0);
  /* color: rgb(221, 221, 221); */
  text-shadow: 0 0 3px rgb(255, 255, 255);
}