/* .icon-exclamation {
  color: rgb(255, 208, 0);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(241, 197, 0);

}

.secondaryTextUserNotFound {
  font-size: 18px;
} */

body {
  margin: 0;
  /* font-family: "Josefin Sans", sans-serif; */
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0px;
  text-decoration: none;
}

/* signup Page */
.signup-logo {
  margin: auto;
  width: 90em;
  height: 112px;
  max-width: 316px;
  animation: animated 0.7s ;
  background: url(../assets/signup-logo.png) no-repeat ;
}

/* TopBar */
.topBarText {
  font-size: 22px;
}

/* Pull down error of Input component */
.invalid-feedback {
  position: absolute;
  
  margin-top: 27px !important;
}

element.style {
  padding-left: 0px !important;
}

/* Components */
.ButtonWithProgress {
  /* line-height: 1.3em !important; */
  
}