/* .background-image {
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 59%, rgba(255, 255, 255) 100%), url(../assets/background-image.png) no-repeat;
  background: (linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(59%, rgba(255, 255, 255)), color-stop(100%, rgba(0, 0, 0, 0.65))), url(../assets/background-image.png) no-repeat;
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 59%, rgba(255, 255, 255) 100%), url(../assets/background-image.png) no-repeat;
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 59%, rgba(255, 255, 255) 100%), url(../assets/background-image.png) no-repeat;
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 59%, rgba(255, 255, 255) 100%), url(../assets/background-image.png) no-repeat;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.246) 0%, rgba(255, 241, 241, 0) 59%, rgb(255, 255, 255) 100%), url(../assets/background-image.png) no-repeat;
  
  background-size: 100%, cover !important;
  background-position: center, center !important;
  width: 100% !important;
  height: 876px;
  position: relative;
  animation: animateHeroimage 1s;
} */

.container {
  width:68% !important;
}

/* Remove outline */
:focus {
  outline: -webkit-focus-ring-color auto 1px;
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 0px;
}

/* .form-control {
  border: 0px !important;
} */

.dropdown-item.active, .dropdown-item:active {
  background-color: rgb(252,208,2) !important;

}

.dropdown-item.active, .dropdown-item:active {
  background-color: rgb(252,208,2) !important;

}

.dropdown-item.active, .dropdown-item:active {
  background-color: rgb(252,208,2) !important;
}

/* move crop image botom, center, right, left*/
/* background-position: center !important; */
.background-image {

  height: 93vh;
  background-position: bottom, center !important;
  /* height: 876px !important; */
  min-height: 876px !important;

  background: 
    linear-gradient(to top, rgba(0, 0, 0, 0.363) 0%,
   rgba(255, 241, 241, 0) 59%, rgb(255, 255, 255) 100%),
    url(../assets/background-image-opacity.png) no-repeat center / cover;
}

::-webkit-scrollbar {
  display: none;
}

/* TopBar */
/* right text */
.topBarText {
  font-size: 22px;
}

.navbar-color {
  background-color: transparent !important;
}


/* signup Page */
.signup-logo {
  margin: auto;
  width: 90em;
  height: 112px;
  max-width: 316px;
  animation: animated 0.7s ;
  background: url(../assets/signup-logo.png) no-repeat ;
}

.card-body {
  flex: 1 1 auto;
  min-height: 1px;
  padding: 0.75rem !important;
}

/* for terms down bellow @pitares */
.text-login-page {
  font-size: 89%;
}

.not-on-hoaxify {
  color: rgb(80, 87, 94);
  cursor: pointer;
  /* margin-left: 5px; */
  font-weight: bold;
}


/* Login page */
.social-media-login-icons {
  opacity: 0.5 !important;
}

hr { 
  display: block !important; 
  height: 0px !important;
    border-top: 1px solid rgba(0, 0, 0, 0.287) !important;
  padding: 0; 
}

#dropdown-button-drop-up {
  font-size: 79%;
}

.text-login-card-buttom {
  font-size: 79%;
}


/* ProfileCardForOwner */
.editProfileButton {
  color: rgb(0, 0, 0) !important;
  border-color: transparent !important;
  background-color: #FFD92F !important;

  font-weight: 200 !important;
  padding-top: 7px !important;
  padding-bottom: 7px !important;
  padding-left: 12px !important;
  padding-right: 12px !important;
}

.editProfileButton:hover {
  background-color: #fde475 !important;
  transition: all .3s;
}

/* InputProfileCard */
.invalid-feedback-forprofileCard {
  font-size: 80%;
  color: #dc3545;
}

/* Pull down error of InputForLoginAndSignUp component */
.InputForLoginAndSignUp{
  position: absolute;
  
  margin-top: 27px !important;
}

element.style {
  padding-left: 0px !important;
}


.textSettingsSecurityChangePassword {
  font-size: 1.4rem !important;
  font-weight: 300 !important;
}

/* Homepage */
a#left-tabs-example-tab-first.nav-link.active {
  background: rgb(253, 213, 33) !important;
  border-radius: 30px 30px 30px 30px;
  margin: 0px !important;
  padding: 0px !important;
  transition: all .45s;
}

a#left-tabs-example-tab-second.nav-link.active {
  background: rgb(253, 213, 33) !important;
  border-radius: 30px 30px 30px 30px;
  margin: 0px !important;
  padding: 0px !important;
  transition: all .45s;
}

a#left-tabs-example-tab-third.nav-link.active {
  background: rgb(253, 213, 33) !important;
  border-radius: 30px 30px 30px 30px;
  margin: 0px !important;
  padding: 0px !important;
  transition: all .45s;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  background: rgb(253, 213, 33) !important;
  border-radius: 30px 30px 30px 30px;
  /* margin: 0px !important;
  padding: 0px !important; */
  transition: all .25s;
}

a#left-tabs-example-tab-first.nav-link.active {
  background: rgb(253, 213, 33) !important;
}

a#left-tabs-example-tab-second.nav-link.active {
  background: rgb(253, 213, 33) !important;
}

a#left-tabs-example-tab-third.nav-link.active {
  background: rgb(253, 213, 33) !important;
}

a#left-tabs-example-tab-fourth.nav-link.active {
  background: rgb(253, 213, 33) !important;
}

a#left-tabs-example-tab-fifth.nav-link.active {
  background: rgb(253, 213, 33) !important;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  color: #2f2f2f !important;
  background-color: #fcd001d1 !important;
  /* border-radius: 12px; */
}

.sticky-menu {
  position: -webkit-sticky;
  position:sticky !important;
  top:20px !important;
  z-index: 1;
}



.sticky-header {
  position: -webkit-sticky;
  position:sticky !important;
  top:1px !important;
  z-index: 1;
}

.disable-button-more {
  padding-left: 30px;
}

.text-more {
  font-size: 14px !important;
}

.image-more {
  margin-bottom: 20px !important;
}

#dropdown-menu-align-right {
  /* color:transparent; */
  color: gray !important;
  background-color: rgba(255, 0, 0, 0) !important;
  border: none !important;
}

#dropdown-menu-align-right:hover {
  color: #000000 !important;
  /* text-decoration: underline; */
}

a {
  color: gray !important;
  /* text-decoration: none; */
  background-color: transparent;
}

a:hover {
  color: #000000 !important;
  /* text-decoration: underline; */
}

/* Components */
.ButtonWithProgressLoginSignup {
  background-color: #ffd930 !important;
  width: 100% !important;
  border-color: rgba(0, 0, 0, 0.041) !important;
}

.ButtonWithProgressLoginSignup:hover {
  background-color: #fde475 !important;
  transition: all .3s !;
}

/* Exclamation mark of User not found! */
.icon-exclamation {
  color: #F7A600;
  text-shadow: 0 0 3px #000;
}

/* Exclamation mark of User not found! */
.icon-exclamation-login-error {
  margin-top: 3px;
  color: rgb(209, 0, 0);
  /* color: rgb(221, 221, 221); */
  text-shadow: 0 0 3px rgb(255, 255, 255);
}

.textNeedToBeAuthenticated-header {
  font-size: 32px;
  /* font-weight: lighter; */
  font-weight: initial;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  /* font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
}

.sharePreference {
  color: rgba(0, 0, 0, 0.459);
  padding-top: 6px;
  padding-right: 10px;
}

.replyPreference {
  margin: 0px;
  /* color: rgb(235, 192, 0); */
  color: rgba(0, 0, 0, 0.459);
  /* color: rgba(0, 174, 255, 0.767); */
}
.fa-reply-all:before {
  /* color: rgb(238, 194, 0); */
  color: rgba(0, 0, 0, 0.459);
  /* color: rgba(0, 174, 255, 0.767); */
  /* color: rgba(0, 174, 255, 0.767); */
}

.displayNameHoaxView {
  font-size: 21px !important;
  padding-top: 50px !important;
  font-weight: 500 !important;
}

.btn-outline-dark {
  color: rgb(177, 155, 57) !important;
  border-color: rgba(98, 81, 5, 0.452) !important;

  font-weight: 500 !important;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  padding-left: 10px !important;
  padding-right: 10px !important;
}

button.btn.btn-outline-dark.btn-sm.ml-2.mb-2.active {
  background: rgb(177, 155, 57) !important;
}



span.followButtonTextActive {
  font-size: 12px;
  color: #ebebe8;
}

span.followButtonText {
  font-size: 12px;
}

.btn-outline-dark:hover {
  background-color:rgb(177, 155, 57) !important;
  color: #ebebe8 !important;
}

.btn:focus,.btn:active {
  outline: none !important;
  box-shadow: none !important;
}

.textNeedToBeAuthenticated-body {
  font-size: 22px;
}

.dropdown-menu {
  padding: 0 !important;
}

/* Hoax View */
.img-max {
  max-width: 450px;
  width:100%;
}

#dropdown-menu-align-left {
  background-color: transparent;
  margin-right: 10px;
  color: gray !important;
  
}

#dropdown-menu-align-left:hover {
  color: #000000 !important;
  /* text-decoration: underline; */
}

.containerPreferences {
  width: 45px;
  height: 0px;
}

.favoritePreference {
  padding-right: 37px;
}

.bookmarkPreference {
  padding-right: 37px;
}

.likePreference {
  padding-top: 3px;
}

/*ResendConfirmationEmail */
.card-confirmation {
  margin-top: 50px !important;
  padding: 30px !important;
  
}

.text-span {
  font-size: 20px;
  color: rgb(240, 180, 0);
}

.mail-icon {
  color: rgb(250, 189, 7);
  font-size: 1.55em;
}

.text-confirmation {
  font-size: 20px !important;
}

.confirmation-header {
  font-size: 37px;
  /* font-weight: lighter; */
  font-weight: initial;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  /* font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
}
.textConfirmation {
  font-size: 19px;
}

.dropdown-menu {
  padding: 0 !important;
}

.ButtonWithProgressEmailConfirmation {
  background-color: #ffd930 !important;
  width: 37% !important;
  border-color: rgba(0, 0, 0, 0.041) !important;
  margin-bottom: 0px !important;
  padding-bottom: 0px !important;
  padding: 15px !important;
}

.ButtonWithProgressEmailConfirmation:hover {
  background-color: #fde475 !important;
  transition: all .3s !important;
}

.ButtonSecurityChangePassword {
  background-color: #ffd930 !important;
  width: 100% !important;
  border-color: rgba(0, 0, 0, 0.041) !important;
  margin-bottom: 0px !important;
  padding: 7px !important;
}

.verticalLine {
  border-left: thick solid #FFD930 !important;
  border-top: thick solid transparent !important;
  border-right: thick solid transparent !important;
  border-bottom: thick solid transparent !important;
}

.textSecurityTop {
  font-size: 14px !important;
}

.exclamationSecurity {
  opacity: 0.23 !important;
  padding-right: 100px !important;
  margin: 7px !important;
}

.ButtonSecurityChangePassword:hover {
  background-color: #fde475 !important;
  transition: all .3s !important;
}

.text-button-confirmation {
  font-size: 16px !important;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji" !important;
  font-weight: lighter !important;
}

.success-text-resend {
  animation: animateMovieinfo 1s !important;
}

@keyframes animateMovieinfo {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.arrowIcon-button {
  opacity: 0.9;
}

/* Personal Info */
.clickable-text {
  font-size: 16px;
  margin-bottom: 4px !important;

}

.notClickable-text {
  font-size: 16px;
  margin-bottom: 4px !important;
}

.personalInfo {
  padding-top: 50px !important;
}

.personalInfo2 {
  padding-top: 30px !important;
  
}

.editProfile {
  background-color: #FFD92F !important;
  width: 46% !important;
  border-color: rgba(0, 0, 0, 0.041) !important;
  margin-bottom: 0px !important;
  padding-bottom: 0px !important;
}
.editProfile:hover {
  background-color: #fde475 !important;
  transition: all .3s;
}

/* HoaxSubmit */
.verticalLineHoaxSubmit {
  border-left: thick solid #FFD930 !important;
  border-top: 1px solid #fde475 !important;
  border-right: 1px solid #fde475 !important;
  border-bottom: 1px solid #fde475 !important;
}

.textHoaxSubmit {
  font-size: 19px;
}

.exclamationHoaxSubmit {
  opacity: 0.23;
  padding-top: 5px;
  padding-right: 0px;
  margin: 7px;
}
/* textarea */
.form-control {
  outline: none !important;
  /* border-bottom: 0.1em solid #19160b26 !important; */
  box-shadow: none !important;
}

.form-control-login-signup {
  display: block;
  width: 100%;
  height: calc(1.5em + .75rem + 2px);
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out; 

  outline: none !important;
  border-bottom: 0.1em solid #19160b26 !important;
  box-shadow: none !important;
}

/*  */
.cancelButtonHoaxSubmit {
  outline: none !important;
  box-shadow: none !important;
}
.cancelButtonHoaxSubmit {
  color: rgb(0, 0, 0) !important;
  border-color: transparent !important;
  background-color: rgba(80, 80, 80, 0) !important;

  font-weight: 200 !important;
  padding-top: 2px !important;
  padding-bottom: 2px !important;
  padding-left: 16px !important;
  padding-right: 16px !important;
  margin-right: 3px !important;
}

.cancelButtonHoaxSubmit:hover {
  background-color: #fde475 !important;
  transition: all .3s;
}
/*  */
.ButtonPostHoaxSubmit {
  outline: none !important;
  box-shadow: none !important;
}
.ButtonPostHoaxSubmit {
  color: rgb(0, 0, 0) !important;
  border-color: transparent !important;
  background-color: #FFD92F !important;
  font-weight: 200 !important;
  padding-top: 2px !important;
  padding-bottom: 2px !important;
  padding-left: 16px !important;
  padding-right: 16px !important;
}

.ButtonPostHoaxSubmit:hover {
  background-color: #fde475 !important;
  transition: all .3s;
}


/* HoaxView */
.player-wrapper {
  position: relative;
  padding-top: 56.25%;
}

.mix-cloud {
  position: relative;
  padding-top: 26.25%;
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;
}

/* remove youtube wrapper */
.ytrp_rb_fg_like {
  display: none;
  bottom: 0px;
  left: 0px;
  height: 3px;
  background: rgb(39, 147, 230);
}

.ytrp_wrapper {
  display: none;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 3;
  opacity: 1;
  transition: opacity 0.2s ease 0s;
}

.relativeDate-HoaxView {
  font-size: 15px;
}

.card-home {
  border: 0px !important;
}


/* 
  UserList
*/
.textUserList {
  font-size: 2.5rem;
  font-weight: 300;
  line-height: 1.2;
}

/* ChangeEmail */
.containerChangeEmail {
  /* width:31% !important; */
  display: block;
  margin-left: auto;
  margin-right: auto
}
.changeEmailSubtextSize {
  font-size: 1rem !important;
  text-color: gray !important;
}

.form-group-closeAccount {
  font-size: 1.1rem !important;
}


/* Preferences */
label.custom-control-label::after {
  outline: 0 !important
}
label.custom-control-label:focus {
  outline: 0 !important
}

.custom-checkbox .custom-control-input:checked~.custom-control-label:focus {
  outline: 0 !important;
}

.category-text:focus {
  outline: 0 !important;
}

.resetButtonPreferences {
  margin-top: auto;
  margin-bottom: 30px !important;
  margin-left:55px !important;
}

.sticky-preferences {
  position: -webkit-sticky;
  position:sticky !important;
  top:20px !important;
  z-index: 1;
}
.cardPreferences {
  /* background-color: #ffd930 !important;
  width: 100% !important; */
  border-color: gray !important;
  border-top: none !important;
  border-right: none !important;
  border-left: none !important;
  margin-bottom: 0px !important;
  padding-top: 0px !important;
  padding-left: 45px !important;
  padding-bottom: 10px !important;
}

.searchPreferences {
  padding-left: 30px;
  margin-top: 70px;

}

.textSearchPreferences {
  margin-top: 30px !important;
}

/* Padding all Category element */
/* .pl-5,
.px-5 {
  padding-left: 12rem !important;
} */

.radio-padding {
  padding-top: 7px;
  padding-right: 3px;
}

.padding-row2-row4-rating {
  padding-top: 7px;
}

.category-text {
  /* padding-bottom: 3px; */
  /* margin-bottom: 0px; */
  font-size: 1.13em;
}

.rating-inline-1 {
  padding-top: 7px;
  margin-right: 0px;
}

.stars {
  color: #fdd784;
  text-shadow: 1px 1px 2px #ccc;
  font-size: 0.8em;
}

/* reset button */
.button {
  color: rgba(0, 0, 0, 0.5);
  letter-spacing: 2px;
}

/* edit effect checkbox and radio */

/* .custom-control-label:before {
  background-color: red;
} */

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
  background-color: #f7ac0b;
  border-color: rgba(134, 134, 134, 0.411);
}

.custom-radio .custom-control-input:checked ~ .custom-control-label::before {
  background-color: #f7ac0b;
  border-color: rgba(134, 134, 134, 0.411);
}

/* Reset button */
.btn-outline-warning:hover {
  color: #24282c;
  background-color: rgba(255, 208, 105, 0.836);
  border-color: #ffc107;
}

/* Search bar */
.search {
  /* position: relative;
  padding-top: 70px;
  padding-right: 60px; */
  /* padding-top: 70px; */
}

/* 
  Another component
*/
