@keyframes animated {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

.login-logo {
  margin: auto;
  width: 80em;
  height: 112px;
  max-width: 316px;
  animation: animated 0.7s ;
  background: url(../assets/1asd.png) no-repeat ;

}

.or-separator {
  border-bottom: 1px solid rgb(182,182,182);
  padding-top: 27px !important;
  position: relative;
  display: block;
  margin-bottom: 10px;
  font-size: 1em;    
}

.or-text {
  position: absolute;
  left: 43%;
  top: 5px;
  background: #fff;
  padding: 10px;
  color: rgba(0,0,0,.45);
}

.social-btn {
    margin-bottom: 15px;
    font-weight: 400;
    font-size: 16px;
}

.social-btn img {
    height: 32px;
    float: left;
    /* margin-top: 10px; */
}

.social-btn.google {
  border: 1px solid #d4d4d4;
  border-radius: 5px;
  margin-top: 25px;
  padding: 10px;
}

.googleText {
  padding-right: 22px;
}

.social-btn.google img {
  height: 37px;
  padding-top: 0px;
  margin-top: 0px;
  padding-left: 7px;
  padding-bottom: 6px;
}

.fab {
  line-height: 0.6
}

.fa-facebook:before {
  content: "\f09a" !important;
  padding-right: 16px !important;
  font-size: 1.4em !important;
  font-family: FontAwesome !important; 
}

.login-facebook {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji" !important;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: calc(.27548vw + 10px);
  text-decoration: none;
  text-transform: uppercase;
  transition: background-color .3s,border-color .3s;
  background-color: #4c69ba;
  border: calc(.06887vw + .67769px) solid #4c69ba;
  padding: calc(.34435vw + 11px) calc(.34435vw + 5px);
  box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 5px 5px rgba(0, 0, 0, 0.12)

}

.login-facebook:hover {
  /* box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4); */
  /* transform: translateY(-1px); */
  background-color: #647cc1;
  border-color: #647cc1;
}


/* .social-btn.github img {
    height: 24px;
    margin-left: 3px;
} */


/* .social-btn.facebook img {
  height: 31px;
  margin-left: 3px;
  margin-top: 6px;
}

.social-btn.google img {
  height: 45px;
  margin-left: 10px;
}

.social-btn.github img {
  height: 34px;
  margin-top: 5px;
  padding-left: 10px;

}

.social-media-login-icons {
  margin-top: 8px;
  margin-left: 4px;
} */

/* .login-logo {
  margin: auto;
  width: 80em;
  height: 112px;
  max-width: 316px;
  animation: animated 0.7s ;
  background: url(../assets/login-logo.png) no-repeat ;
} */

.contact {
  background: linear-gradient(
      105deg,
      rgba(21, 31, 32, 1) 0%,
      rgba(21, 31, 32, 0.95) 50%,
      transparent 50%
  ),
  /* url(../../../images/form-img.jpeg) no-repeat center center / cover; */
  /* background-repeat: cover, */

}
  
.input {
  background: transparent !important;
  border-color: transparent !important;
  border-bottom: 2px solid #ccc !important;
  border-radius: 0 !important;
  transition: all 0.8s !important;
  font-size: 22px !important;
}

.input:focus {
  background: transparent !important;
  border-color: transparent !important;
  box-shadow: none !important;
  color: rgb(22, 22, 22) !important;
  border-bottom: 2px solid rgb(252, 206, 2) !important;
}

.submit-button {
    background: #3df57a !important;
    color: #eee !important;
    transition: all 0.3s !important;
}

.submit-button:hover {
    background: #f9793d !important;
    transform: translateY(-3px) !important;
}

.label {
    color: #777 !important;
    display: block !important;
    margin-top: -70px !important;
    margin-left: 4px !important;
    margin-bottom: 12px !important;
    font-size: 15px !important;
    transition: all 0.3s !important;
}

.input:placeholder-shown + .label {
    transform: translate(20px, 20px) !important;
    opacity: 0 !important;
    visibility: hidden !important;
}

@media (max-width: 992px) {
  .contact {
      /* background: linear-gradient(rgba(21, 31, 32, 1), rgba(21, 31, 32, 0.95)); */
  }

  .contact-form {
      width: 80% !important;
      margin: auto !important;
  }

}
