@keyframes animated {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

.login-logo {
  margin: auto;
  width: 80em;
  height: 112px;
  max-width: 316px;
  animation: animated 0.7s ;
  background: url(../assets/1asd.png) no-repeat ;
}

/* .login-logo {
  margin: auto;
  width: 80em;
  height: 112px;
  max-width: 316px;
  animation: animated 0.7s ;
  background: url(../assets/login-logo.png) no-repeat ;
} */

.contact {
  background: linear-gradient(
      105deg,
      rgba(21, 31, 32, 1) 0%,
      rgba(21, 31, 32, 0.95) 50%,
      transparent 50%
  ),
  /* url(../../../images/form-img.jpeg) no-repeat center center / cover; */
  /* background-repeat: cover, */

}
  
.input {
  background: transparent !important;
  border-color: transparent !important;
  border-bottom: 2px solid #ccc !important;
  border-radius: 0 !important;
  transition: all 0.8s !important;
  font-size: 22px !important;
}

.input:focus {
  background: transparent !important;
  border-color: transparent !important;
  box-shadow: none !important;
  color: rgb(22, 22, 22) !important;
  border-bottom: 2px solid rgb(252, 206, 2) !important;
}

.submit-button {
    background: #3df57a !important;
    color: #eee !important;
    transition: all 0.3s !important;
}

.submit-button:hover {
    background: #f9793d !important;
    transform: translateY(-3px) !important;
}

.label {
    color: #777 !important;
    display: block !important;
    margin-top: -70px !important;
    margin-left: 4px !important;
    margin-bottom: 12px !important;
    font-size: 15px !important;
    transition: all 0.3s !important;
}

.input:placeholder-shown + .label {
    transform: translate(20px, 20px) !important;
    opacity: 0 !important;
    visibility: hidden !important;
}

@media (max-width: 992px) {
  .contact {
      /* background: linear-gradient(rgba(21, 31, 32, 1), rgba(21, 31, 32, 0.95)); */
  }

  .contact-form {
      width: 80% !important;
      margin: auto !important;
  }

}
